.env
.venv

__pycache__
.pytest_cache

.DS_Store

# Ignore all .tfvars files (including terraform.tfvars)
*.tfvars

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory (terraform plugins and cache)
.terraform/